html {
    height: 100%;
}

body {
    min-height: 100%;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

header a:hover, header a:focus {
    text-decoration: none;
    color: #FFFFFF;
}

header .jumbotron {
    margin: 0;
    position: relative;
    background-color: #000000;
    background-image: url("../Images/header.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header .jumbotron::before {
    display: block;
    content: '';
    background-color: rgba(0, 0, 0, 0.65);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header + nav {
    background-color: #000000;
    color: #FFFFFF;
}

header+nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>")
}

header + nav .container {
    width: 100%;
}

header + nav a, header + nav a:hover {
    color: #FFFFFF;
}

main {
    flex-grow: 1;
}

.card.card-inverse {
    background-position: center;
    position: relative;
}

.card.card-inverse::before {
    display: block;
    content: '';
    background-color: rgba(0, 0, 0, 0.65);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card.card-inverse .card-block {
    z-index: 1;
}

.card.card-inverse .card-block .table {
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.btn-outline-light {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-image: none;
    background-color: transparent;
}

.btn-outline-light:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.btn-outline-dark {
    color: #000000;
    border-color: #000000;
    background-image: none;
    background-color: transparent;
}

.btn-outline-dark:hover {
    background-color: #000000;
    color: #FFFFFF;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

textarea {
    width: 100%;
}

footer {
    position: relative;
    color: #FFFFFF;
    background-image: url("../Images/header.jpg");
    background-color: #000000;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

footer::before {
    display: block;
    content: '';
    background-color: rgba(0, 0, 0, 0.65);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}