html {
    height: 100%;
}

body {
    min-height: 100%;
}

header .jumbotron {
    margin: 0;
}

header + nav {
    background-color: black;
}

header+nav .container {
    width: 100%;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover, header a:focus {
    text-decoration: none;
    color: black;
}

main {
    flex-grow: 1;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    color: white;
    background-color: black;
}